---
import Layout from '../layouts/Layout.astro';
---

<Layout >
  <main class="max-w-screen-lg m-auto p-4 text-zinc-100">
    <h1 class="text-4xl font-bold mb-4">Store</h1>
    <p class="mb-6">
      Este proyecto de tienda online está diseñado para gestionar productos y ventas utilizando Astro y Tailwind CSS. Permite a los usuarios agregar nuevos productos, ver la lista de productos disponibles, actualizar información de productos y eliminar productos.
    </p>
    <section class="mb-6">
      <h2 class="text-2xl font-semibold mb-2">Características Principales</h2>
      <ul class="list-disc list-inside">
        <li>Interfaz de usuario limpia y responsiva con Tailwind CSS.</li>
        <li>Funcionalidad completa para la gestión de productos y ventas.</li>
        <li>Almacenamiento local para persistencia de datos entre sesiones.</li>
        <li>Fácil integración y personalización.</li>
      </ul>
      <div>
        <a
        class="text-zinc-400 hover:underline hover:text-zinc-100 border-2 border-zinc-600 px-4 py-2 rounded-md hover:border-zinc-100 transition-colors"
        href="/">Volver</a
      >
      </div>
    </section>
</main>
</Layout>   