---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Welcome to Astro." class="scroll-smooth">
  <main>
    <Hero />
    <Experience />
  </main>
</Layout>
