---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-screen-md m-auto p-4 text-zinc-100">
    <div class="mb-6">
      <h1 class="text-4xl font-bold mb-4">Nebuverse</h1>
      <p class="mb-6 text-wrap">
        Nebuverse es un grupo de desarroladores freelance enfocados en crear
        soluciones a negocios con sitios web escalables y eficientes para la
        gestión de negocios, blogs e integración de inteligencia de negocios.
      </p>
      <span class="text-zinc-400">(En desarrollo)</span>
    </div>
    <div>
      <img
        src="https://raw.githubusercontent.com/SuaveV9/Portfolio-1.0/refs/heads/master/public/Project-1.webp"
        alt="Nebuverse Project Screenshot"
        width="800"
        height="400"
        transition:name="nebuverse-img"
        class="rounded-md mb-6 w-full h-auto object-cover"
      />
    </div>
    <section class="mb-6">
      <h2 class="text-2xl font-semibold mb-2">Características Principales</h2>
      <ul class="list-disc list-inside">
        <li>Desarrollo con un rendimiento óptimo.</li>
        <li>Estilizado de acuerdo a las necesidades del cliente.</li>
        <li>
          Diseño responsivo para una experiencia consistente en todos los
          dispositivos.
        </li>
      </ul>
    </section>
    <section class="mb-6">
      <h2 class="text-2xl font-semibold mb-2">Enlace al Proyecto</h2>
      <div class="items-center justify-between mx-12 md:gap-x-12 mt-4 flex">
        <a
          href="https://github.com/SuaveV9/NebuVerse"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub profile"
          class="group"
        >
          <svg
            class="w-8 h-8 fill-zinc-400 group-hover:fill-zinc-100 transition-colors"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>
        </a>
        <a
          href="https://nebuverse.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-zinc-400 hover:underline hover:text-zinc-100 border-2 border-zinc-600 px-4 py-2 rounded-md hover:border-zinc-100 transition-colors"
        >
          Visitar
        </a>
        <a
          class="text-zinc-400 hover:underline hover:text-zinc-100 border-2 border-zinc-600 px-4 py-2 rounded-md hover:border-zinc-100 transition-colors"
          href="/">Volver</a
        >
      </div>
    </section>
  </main>
</Layout>
