---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Otro Proyecto - Proyecto de César Hernández">
  <main class="max-w-screen-lg m-auto p-4 text-zinc-100">
    <div>
      <h1 class="text-4xl font-bold mb-4">Otro Proyecto</h1>
      <p class="mb-6">Proyecto demo para mostrar otra página con view transition.</p>
    </div>

    <div>
      <img src="https://raw.githubusercontent.com/SuaveV9/Portfolio-1.0/refs/heads/master/public/Project-3.webp" alt="Otro proyecto screenshot" style="view-transition-name: otro-proyecto-image" class="rounded-md mb-6" />
    </div>

  </main>
</Layout>