<section
  id="About"
  class="mt-12 text-white bg-[#303030] py-8 flex flex-col md:flex-row items-center w-screen m-auto justify-center"
>
  <div class="text-center px-3">
    <header
      class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-red-300"
    >
      <h3>Acerca de mí</h3>
    </header>
    <p class="max-w-screen-md text-pretty">
      Hola soy un desarrollador web frontend. Me gusta el café, los gatos y
      Yanit
    </p>
  </div>

</section>
