<section id="About" class="mt-12 h-[400px] flex flex-col md:flex-row items-center max-w-screen-xl m-auto justify-center" >
  <div class="text-center px-3">
    <header class="text-2xl font-bold  mb-4">
      <h3>Acerca de mí</h3>
    </header>
      <p class="max-w-screen-md text-pretty">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum deserunt
        nihil corporis vero dolores. Asperiores corrupti magnam laudantium earum
        possimus. Soy un desarrollador web
      </p>
  </div>
  <div class="px-3 w-72 text-center text-pretty">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam in ut quasi obcaecati enim quibusdam?</p>
  </div>
</section>
