---
interface Props {
	title: string;
	body: string;
	href: string;
	color: string;
}

const { href, title, body, color } = Astro.props;
---

<div class="col-span-2 mx-4">
	<a href={href}>
		<div class=`w-full h-36 rounded-lg bg-[#FCC100] mb-6`>

		</div>
		<div class="text-md ">
			<h2 class=`text-center text-lg font-bold mb-2`>
				{title}
			</h2>
			<p>
				{body}
			</p>

		</div>
	</a>
</div>
