---
interface Props {
	title: string;
	body: string;
	href: string;
	src?: string;
}

const { href, title, body, src } = Astro.props;
---

<div class="col-span-2 bg-[#174793] rounded-2xl text-white overflow-hidden">
	<a href={href}>
		<div class=`w-full rounded-t-2xl bg-[#FCC100] mb-2`>
			<figure class="aspect-video ">
				<img src={src} alt="">
			</figure>
		</div>
		<div class="text-md">
			<h2 class=`text-center text-lg font-bold mb-2`>
				{title}
			</h2>
			<p>
				{body}
			</p>

		</div>
	</a>
</div>
