---
import Card from "../components/Card.astro";
---

<section class="flex flex-col mt-12 md:mt-16 max-w-screen-xl m-auto" id="projects">
  <header class="h-auto">
    <h3 class="text-3xl text-center font-extrabold text-zinc-850 mb-4 font-onest">
      Conoce mi trabajo
    </h3>
  </header>
  <div
    class="grid text-center grid-cols-2 gap-4 mx-4 place-content-center sm:grid-cols-6 mt-4"
  >
    <Card
      src="https://axeldevport.netlify.app/Project-1.webp" 
      title="Nebuverse"
      body="Proyecto freelance que ofrece desarrollo de sitios web a negocios con gran escalabilidad"
      href="https://nebuverse.netlify.app/"
    />
    <Card
    src="" 
      title="Evergreen Store"
      body="Tienda de ropa"
      href="#"
    />
    <Card
      title="Otro proyecto"
      body="Este es Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, culpa."
      href="#"
    />
  </div>
</section>
