
<header class="sticky w-full top-0 z-50">
  <nav class="h-16 flex items-center bg-gradient-to-b from-[#00030a]/90 to-[#0F172A]/70 backdrop-blur-sm">
    <ul class=" flex font-light text-md gap-x-12 mx-auto text-zinc-400 ">
      <li class=" hover:text-zinc-100 transition-color cursor-pointer"><a href="#inicio">Inicio</a></li>
      <li class="hover:text-zinc-100 transition-all cursor-pointer"><a href="#proyectos">Proyectos</a></li>
      <li class="hover:text-zinc-100 transition-all cursor-pointer"><a href="#experiencia">Experiencia</a></li>
    </ul>
  </nav>
</header>
