
<header class="sticky top-0">
  <nav class="h-20 flex items-center justify-center bg-white/[.06] backdrop-blur-sm">
    <ul class="flex justify-around font-bold text-white space-x-12 ">
      <li class="hover:scale-110 hover:text-blue-400 transition-all">Inicio</li>
      <li class="hover:scale-110 hover:text-blue-400 transition-all">Experiencia</li>
      <li class="hover:scale-110 hover:text-blue-400 transition-all">Proyectos</li>
    </ul>
  </nav>
</header>
