
<header class="sticky w-full top-0 z-50">
  <nav class="h-16 flex items-center  bg-[#0F172A]/80 backdrop-blur-sm">
    <ul class=" flex font-light text-md gap-x-12 mx-auto text-zinc-400 ">
      <li class=" hover:text-zinc-100 transition-color cursor-pointer"><a href="/#Inicio">Inicio</a></li>
      <li class="hover:text-zinc-100 transition-all cursor-pointer"><a href="/#Experiencia">Experiencia</a></li>
      <li class="hover:text-zinc-100 transition-all cursor-pointer"><a href="/#Proyectos">Proyectos</a></li>
    </ul>
  </nav>
</header>
