
<header class="sticky top-0">
  <nav class="h-20 flex items-center justify-center bg-white/[.06] backdrop-blur-sm">
    <ul class="flex justify-around font-bold text-white space-x-12">
      <li>Inicio</li>
      <li>Experiencia</li>
      <li>Proyectos</li>
    </ul>
  </nav>
</header>
