---
import BtnProjects from "./BtnProjects.astro";
import Redes from "./Redes.astro";
import Skills from "./Skills.astro";
import {Projects} from "./Projects.jsx";

---

<section class="px-4 font-onest">
  <div
    class="grid grid-cols-3 grid-rows-9 md:grid-cols-6 md:grid-rows-6 lg:grid-cols-12 w-full gap-4 h-[610px] max-w-screen-xl m-auto mt-4 place-content-center"
  >
    <div
      class="col-span-3 md:col-span-2 lg:col-span-3 row-span-4 bg-[#174793] text-white flex md:flex-col text-center rounded-2xl justify-evenly p-4 items-center"
    >
      <figure
        class="w-32 h-32 sm:w-36 rounded-full sm:h-36 flex justify-center mb-4"
      >
        <img
          src="./developer.jpg"
          alt="Retrato de cesarin solitario"
          class="aspect-square object-cover rounded-full"
        />
      </figure>
      <div class="flex flex-col">
        <h2 class="text-sm mb-2">Desarrollador web</h2>
        <h3 class="text-pretty font-black">Cesarin Tejocote</h3>
        <a href="#About"
          class="text-pretty text-zinc-900 font-bold bg-[#FCC100] rounded-lg px-4 py-1 mt-4 hover:bg-[#F1A300] mx-auto"
          >Acerca de mí</a
        >
      </div>
    </div>

    <Projects />
    <div
      class="row-span-3 gap-4 md:col-span-1 lg:row-span-3 lg:col-span-2 bg-[#174793] text-white flex items-center rounded-2xl"
    >
      <Redes />
    </div>

    <div
      class="row-span-3 col-span-2 gap-4 md:col-span-3 lg:row-span-3 lg:col-span-3 bg-[#174793] text-white flex items-center rounded-2xl transition-all"
    >
      <Skills />
    </div>
    <div
      class="row-span-1 col-span-1 md:col-span-2 md:row-span-4 p-6 gap-4 lg:row-span-3 lg:col-span-5 bg-[#174793] text-white flex items-center rounded-2xl"
    >
      <p class=" text-center">Educación</p>
    </div>
    <div
      class="row-span-2 col-span-1 p-6 gap-4 md:col-span-4 lg:col-span-3 lg:row-span-2 bg-[#174793] text-white flex items-center rounded-2xl"
    >
      <p class="text-center">Contacto</p>
    </div>
  </div>
</section>