---
import CldImage from "./CldImage.astro";
---

<section class="w-screen mt-10 flex bg-[#303030]">
  <div class="flex max-w-screen-md m-auto">
    <div class="p-6">
      <figure class="rounded-full overflow-hidden">
        <CldImage
          src="atyqpk6rki08xanwds0z"
          alt="César Hernández desarrollador web frontend"
          width="200"
          height="200"
        />
      </figure>
    </div>
    <div class="w-4/6">
      <h1 class="font-bold text-2xl text-white mt-6">César Hernández</h1>
      <p class="max-w-prose text-pretty mt-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, distinctio tempora eius quam incidunt neque sed! Porro magni architecto unde?
      </p>
      <p class="max-w-prose text-pretty mt-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, distinctio tempora eius quam incidunt neque sed! Porro magni architecto unde?
      </p>
    </div>
  </div>
</section>
