<div
  class="row-span-3 overflow-hidden col-span-1 gap-4 md:col-span-4 lg:row-span-6 lg:col-span-3 bg-[#174793] text-white flex items-center rounded-2xl"
>
  <a href="#projects" class="bg-[#174793] w-full h-full rounded-2xl flex lg:flex-col items-center group">
    <h3 class="text pl-6">
      Proyectos
    </h3>
  
  </a>
</div>
