<aside>
  <div class="max-w-screen-lg rounded-2xl mx-2 mt-4 text-center md:mt-10 md:mx-auto flex-col bg-secondary-blue p-4 justify-center">
    <h3 class="font-medium text-xl m-auto text-zinc-100">Skills</h3>
    <ul class="flex animate infinite-scroll ">
      <li class="px-2 py-1 bg-zinc-800 rounded-md mx-1">aa</li>
      <li class="px-2 py-1 bg-zinc-800 rounded-md mx-1">bb</li>
      <li class="px-2 py-1 bg-zinc-800 rounded-md mx-1">cc</li>
    </ul>
    
  </div>
</aside>