---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página web de los proyectos de César Hernández" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		<ViewTransitions />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles.css">
	</head>
	<body class="bg-primary-blue">
		<slot />
	</body>
</html>
